
footer {
  padding: 20px;
  background-color: #eee;
  border-top: 1px solid #f8f8f8;
}

#footer-badges {
  float: right;
}

#footer-links {
  display: inline-block;
  list-style: none;
  padding: 0;
}

#footer-links a {
  color: #666;
  text-decoration: none;
}

#footer-links a:hover {
  color: #999;
  transition: color 0.1s linear;
}
