
header {
  display: block;
  padding: 20px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #eee;
}

header h1:only-child {
  padding: 0;
}

header small {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.2;
}

header pre {
  display: inline-block;
}
