
.container {
  display: block;
  position: relative;
  max-width: 920px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

section {
  padding: 20px;
  border-bottom: 1px solid #eee;
}
