
@import 'necolas/normalize.css@3/normalize.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* otherwise stuff flashes during transitions */
  -webkit-font-smoothing: antialiased;
}

img {
  display: inline-block;
  max-width: 100%;
  max-height: 280px;
}
