
table {
  margin: 10px 10px 20px;
  border: 1px solid #ccc;
}

table th,
table td {
  padding: 10px;
  border: 1px solid #ccc;
}

table thead th {
  font-weight: 600;
}

table tbody tr:nth-child(odd) {
  background-color: #fafafa;
}
