
#top-bar {
  position: relative;
  height: 50px;
  background-color: #fffff;
  box-shadow: 1px 0px 2px 1px rgba(0, 0, 0, 0.15);
  z-index: 1000;
}

#top-bar a {
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  padding: 0 10px;
  text-decoration: none;
}

#top-bar a,
#top-bar a:visited,
#top-bar a:active,
#top-bar a:hover {
  color: #333;
}

#top-bar a:hover {
  text-decoration: underline;
}

#top-bar-logo {
  float: left;
}

.top-bar-link {
  float: right;
}
