
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  color: #333;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding-bottom: 10px;
}

h1,
h2,
h3 {
  line-height: 24px;
}

h4,
h5,
h6 {
  line-height: 20px;
}

p {
  padding-bottom: 10px;
}

ul,
ol {
  padding: 0 10px 10px 20px;
}

pre {
  margin: 0;
  padding: 0 20px 10px;
}
