
extends ../layout

block header
  .container
    h1 Documentation

block main
  section: .container
    h2 Triage
    include:markdown triage.md

  section: .container
    h2 Normalization Proxy
    include:markdown proxy.md

  section: .container
    h2 Transforms
    include:markdown transforms.md

  section: .container
    h2 Authoring JavaScript
    include:markdown js.md

  section: .container
    h2 Authoring CSS
    include:markdown css.md

  //- section: .container
  //-   h2 Authoring Web Components
  //-   include:markdown web.md

  section: .container
    h2 Best Practices
    include:markdown best-practices.md
    
  section: .container
    h2 Production Checklist
    include:markdown production.md

  section: .container
    h2 Philosophy
    include:markdown philosophy.md
