
extends ../layout

block header
  .container
    h1 Documentation

block main
  #toc.Dropdown.right.down
    a.Dropdown-toggle(href='#') #
    .Dropdown-menu

  section: .container
    h2(id='triage') Triage
    include:markdown triage.md

  section: .container
    h2(id='proxy') Normalization Proxy
    include:markdown proxy.md

  section: .container
    h2(id='nlz-cli') nlz(1)
    include:markdown nlz.md

  section: .container
    h2(id='nlzrc') .nlzrc
    include:markdown nlzrc.md

  section: .container
    h2(id='transforms') Transforms
    include:markdown transforms.md

  section: .container
    h2(id='authoring-javascript') Authoring JavaScript
    include:markdown js.md

  section: .container
    h2(id='authoring-css') Authoring CSS
    include:markdown css.md

  //- section: .container
  //-   h2(id='authoring-web-components') Authoring Web Components
  //-   include:markdown web.md

  section: .container
    h2(id='bundling') Bundling
    include:markdown bundling.md
    
  section: .container
    h2(id='authoring-tests') Authoring Tests
    include:markdown tests.md

  section: .container
    h2(id='best-practices') Best Practices
    include:markdown best-practices.md

  section: .container
    h2(id='production-checklist') Production Checklist
    include:markdown production.md

  section: .container
    h2(id='philosophy') Philosophy
    include:markdown philosophy.md

  section: .container
    h2(id='faq') Frequently Asked Questions
    include:markdown faq.md
